<!DOCTYPE html>
<html lang="en-US" class="scheme_original">

<head>
   <title>Products &#8211; WhiteRabbit</title>
   <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="format-detection" content="telephone=no">

   <%= render 'layouts/header_links' %>

   <%= render 'layouts/header_js' %>

   <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://whiterabbit.axiomthemes.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
</head>

<%= yield %>



</html>
