<!DOCTYPE html>
<html lang="en-US" class="scheme_original">

<head>
   <title>Products &#8211; WhiteRabbit</title>
   <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="format-detection" content="telephone=no">

   <%= render 'layouts/header_links' %>

   <%= render 'layouts/header_js' %>

   <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://whiterabbit.axiomthemes.com/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
</head>

<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page whiterabbit_body body_style_wide body_filled article_style_stretch layout_excerpt template_excerpt scheme_original top_panel_show top_panel_above sidebar_show sidebar_left sidebar_outer_hide preloader wpb-js-composer js-comp-ver-5.1.1 vc_responsive">

   <div class="body_wrap">
      <div class="page_wrap">
         <%= yield %>


         <!-- Footer -->
         <%= render 'layouts/footer' %>
         <div class="copyright_wrap copyright_style_text  scheme_original">
            <div class="copyright_wrap_inner">
               <div class="content_wrap">
                  <div class="copyright_text">
                     <div style="text-align: center">
                        <figure class="sc_image  sc_image_shape_square" style="margin-top:5.8em;margin-bottom:4.2em;"><img src="http://whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/logo_footer.png" alt="" />
                        </figure>
                     </div>
                     <p style="text-align: center">All Rights Reserved. Terms of Use and Privacy Policy.</p>
                     <div style="text-align: center">
                        <figure class="sc_image  sc_image_shape_square" style="margin-top:2em;margin-bottom:6.5em;"><img src="http://whiterabbit.axiomthemes.com/wp-content/uploads/2016/04/pay.png" alt="" />
                        </figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
      <!-- /.page_wrap -->
   </div>
   <!-- /.body_wrap -->


   <div id="popup_login" class="popup_wrap popup_login bg_tint_light">
      <a href="#" class="popup_close"></a>
      <div class="form_wrap">
         <div class="form_left">
            <form action="http://whiterabbit.axiomthemes.com/wp-login.php" method="post" name="login_form" class="popup_form login_form">
               <input type="hidden" name="redirect_to" value="http://whiterabbit.axiomthemes.com/">
               <div class="popup_form_field login_field iconed_field icon-user189">
                  <input type="text" id="log" name="log" value="" placeholder="Login or Email">
               </div>
               <div class="popup_form_field password_field iconed_field icon-lock">
                  <input type="password" id="password" name="pwd" value="" placeholder="Password">
               </div>
               <div class="popup_form_field remember_field">
                  <a href="http://whiterabbit.axiomthemes.com/wp-login.php?action=lostpassword&#038;redirect_to=http://whiterabbit.axiomthemes.com/product/pink-model-car/" class="forgot_password">Forgot password?</a>
                  <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                  <label for="rememberme">Remember me</label>
               </div>
               <div class="popup_form_field submit_field">
                  <input type="submit" class="submit_button" value="Login">
               </div>
            </form>
         </div>
         <div class="form_right">
            <div class="login_socials_title">You can login using your social profile
            </div>
            <div class="loginSoc login_plugin">
               <style type="text/css">
                  .wp-social-login-connect-with {}.wp-social-login-provider-list {}.wp-social-login-provider-list a {}.wp-social-login-provider-list img {}.wsl_connect_with_provider {}
               </style>

               <div class="wp-social-login-widget">

                  <div class="wp-social-login-connect-with">Connect with:</div>

                  <div class="wp-social-login-provider-list">

                     <a rel="nofollow" href="http://whiterabbit.axiomthemes.com/wp-login.php?action=wordpress_social_authenticate&#038;mode=login&#038;provider=Facebook&#038;redirect_to=http%3A%2F%2Fwhiterabbit.axiomthemes.com%2Fshop%2F" title="Connect with Facebook" class="wp-social-login-provider wp-social-login-provider-facebook" data-provider="Facebook">
                        <img alt="Facebook" title="Connect with Facebook" src="http://whiterabbit.axiomthemes.com/wp-content/plugins/wordpress-social-login/assets/img/32x32/wpzoom//facebook.png" />
                     </a>

                     <a rel="nofollow" href="http://whiterabbit.axiomthemes.com/wp-login.php?action=wordpress_social_authenticate&#038;mode=login&#038;provider=Google&#038;redirect_to=http%3A%2F%2Fwhiterabbit.axiomthemes.com%2Fshop%2F" title="Connect with Google" class="wp-social-login-provider wp-social-login-provider-google" data-provider="Google">
                        <img alt="Google" title="Connect with Google" src="http://whiterabbit.axiomthemes.com/wp-content/plugins/wordpress-social-login/assets/img/32x32/wpzoom//google.png" />
                     </a>

                     <a rel="nofollow" href="http://whiterabbit.axiomthemes.com/wp-login.php?action=wordpress_social_authenticate&#038;mode=login&#038;provider=Twitter&#038;redirect_to=http%3A%2F%2Fwhiterabbit.axiomthemes.com%2Fshop%2F" title="Connect with Twitter" class="wp-social-login-provider wp-social-login-provider-twitter" data-provider="Twitter">
                        <img alt="Twitter" title="Connect with Twitter" src="http://whiterabbit.axiomthemes.com/wp-content/plugins/wordpress-social-login/assets/img/32x32/wpzoom//twitter.png" />
                     </a>

                  </div>

                  <div class="wp-social-login-widget-clearing"></div>

               </div>

               <!-- wsl_render_auth_widget -->
            </div>
            <div class="result message_block"></div>
         </div>
      </div>
      <!-- /.login_wrap -->
   </div>
   <!-- /.popup_login -->
   <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
   <script type="application/ld+json">{"@context":"https:\/\/schema.org\/","@graph":[{"@type":"Product","@id":"http:\/\/whiterabbit.axiomthemes.com\/product\/pink-model-car\/","url":"http:\/\/whiterabbit.axiomthemes.com\/product\/pink-model-car\/","name":"Wooden Block Set"},{"@type":"Product","@id":"http:\/\/whiterabbit.axiomthemes.com\/product\/modern-glasses\/","url":"http:\/\/whiterabbit.axiomthemes.com\/product\/modern-glasses\/","name":"Modern Glasses"},{"@type":"Product","@id":"http:\/\/whiterabbit.axiomthemes.com\/product\/wooden-block-set\/","url":"http:\/\/whiterabbit.axiomthemes.com\/product\/wooden-block-set\/","name":"Long Floral JumSiut"},{"@type":"Product","@id":"http:\/\/whiterabbit.axiomthemes.com\/product\/twill-jacket\/","url":"http:\/\/whiterabbit.axiomthemes.com\/product\/twill-jacket\/","name":"Twill Jacket"},{"@type":"Product","@id":"http:\/\/whiterabbit.axiomthemes.com\/product\/rainbow-tower-set\/","url":"http:\/\/whiterabbit.axiomthemes.com\/product\/rainbow-tower-set\/","name":"Rainbow Tower Set"},{"@type":"Product","@id":"http:\/\/whiterabbit.axiomthemes.com\/product\/pink-car\/","url":"http:\/\/whiterabbit.axiomthemes.com\/product\/pink-car\/","name":"Pink Car"},{"@type":"Product","@id":"http:\/\/whiterabbit.axiomthemes.com\/product\/wooden-block-set-2\/","url":"http:\/\/whiterabbit.axiomthemes.com\/product\/wooden-block-set-2\/","name":"Wooden Block Set"},{"@type":"Product","@id":"http:\/\/whiterabbit.axiomthemes.com\/product\/denim-jacket\/","url":"http:\/\/whiterabbit.axiomthemes.com\/product\/denim-jacket\/","name":"Denim Jacket"}]}</script>
   <link property="stylesheet" rel='stylesheet' id='whiterabbit-messages-style-css' href='http://whiterabbit.axiomthemes.com/wp-content/themes/whiterabbit/fw/js/core.messages/core.messages.min.css' type='text/css' media='all' />
   <link property="stylesheet" rel='stylesheet' id='whiterabbit-swiperslider-style-css' href='http://whiterabbit.axiomthemes.com/wp-content/themes/whiterabbit/fw/js/swiper/swiper.min.css' type='text/css' media='all' />
   <script type='text/javascript' src='http://whiterabbit.axiomthemes.com/wp-content/themes/whiterabbit/fw/js/magnific/jquery.magnific-popup.min.js?ver=4.8'></script>
   <script type='text/javascript' src='//whiterabbit.axiomthemes.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
   <script type='text/javascript' src='//whiterabbit.axiomthemes.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
   <script type='text/javascript'>
      /* <![CDATA[ */
      var woocommerce_params = {
         "ajax_url": "\/wp-admin\/admin-ajax.php",
         "wc_ajax_url": "\/shop\/?wc-ajax=%%endpoint%%"
      };
      /* ]]> */
   </script>
   <script type='text/javascript' src='//whiterabbit.axiomthemes.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.0.8'></script>
   <script type='text/javascript'>
      /* <![CDATA[ */
      var wc_cart_fragments_params = {
         "ajax_url": "\/wp-admin\/admin-ajax.php",
         "wc_ajax_url": "\/shop\/?wc-ajax=%%endpoint%%",
         "fragment_name": "wc_fragments"
      };
      /* ]]> */
   </script>
   <script type='text/javascript' src='//whiterabbit.axiomthemes.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.0.8'></script>
   <script type='text/javascript' src='http://whiterabbit.axiomthemes.com/wp-content/themes/whiterabbit/fw/js/superfish.js'></script>
   <script type='text/javascript' src='http://whiterabbit.axiomthemes.com/wp-content/themes/whiterabbit/fw/js/core.utils.js'></script>
   <script type='text/javascript'>
      /* <![CDATA[ */
      var WHITERABBIT_STORAGE = {
         "system_message": {
            "message": "",
            "status": "",
            "header": ""
         },
         "theme_font": "Lato",
         "theme_color": "#272727",
         "theme_bg_color": "#F5F6F6",
         "strings": {
            "ajax_error": "Invalid server answer",
            "bookmark_add": "Add the bookmark",
            "bookmark_added": "Current page has been successfully added to the bookmarks. You can see it in the right panel on the tab &#039;Bookmarks&#039;",
            "bookmark_del": "Delete this bookmark",
            "bookmark_title": "Enter bookmark title",
            "bookmark_exists": "Current page already exists in the bookmarks list",
            "search_error": "Error occurs in AJAX search! Please, type your query and press search icon for the traditional search way.",
            "email_confirm": "On the e-mail address &quot;%s&quot; we sent a confirmation email. Please, open it and click on the link.",
            "reviews_vote": "Thanks for your vote! New average rating is:",
            "reviews_error": "Error saving your vote! Please, try again later.",
            "error_like": "Error saving your like! Please, try again later.",
            "error_global": "Global error text",
            "name_empty": "The name can&#039;t be empty",
            "name_long": "Too long name",
            "email_empty": "Too short (or empty) email address",
            "email_long": "Too long email address",
            "email_not_valid": "Invalid email address",
            "subject_empty": "The subject can&#039;t be empty",
            "subject_long": "Too long subject",
            "text_empty": "The message text can&#039;t be empty",
            "text_long": "Too long message text",
            "send_complete": "Send message complete!",
            "send_error": "Transmit failed!",
            "not_agree": "Please, check &#039;I agree with Terms and Conditions&#039;",
            "login_empty": "The Login field can&#039;t be empty",
            "login_long": "Too long login field",
            "login_success": "Login success! The page will be reloaded in 3 sec.",
            "login_failed": "Login failed!",
            "password_empty": "The password can&#039;t be empty and shorter then 4 characters",
            "password_long": "Too long password",
            "password_not_equal": "The passwords in both fields are not equal",
            "registration_success": "Registration success! Please log in!",
            "registration_failed": "Registration failed!",
            "geocode_error": "Geocode was not successful for the following reason:",
            "googlemap_not_avail": "Google map API not available!",
            "editor_save_success": "Post content saved!",
            "editor_save_error": "Error saving post data!",
            "editor_delete_post": "You really want to delete the current post?",
            "editor_delete_post_header": "Delete post",
            "editor_delete_success": "Post deleted!",
            "editor_delete_error": "Error deleting post!",
            "editor_caption_cancel": "Cancel",
            "editor_caption_close": "Close"
         },
         "ajax_url": "http:\/\/whiterabbit.axiomthemes.com\/wp-admin\/admin-ajax.php",
         "ajax_nonce": "d8de21ec67",
         "site_url": "http:\/\/whiterabbit.axiomthemes.com",
         "site_protocol": "http",
         "vc_edit_mode": "",
         "accent1_color": "#9EC12F",
         "accent1_hover": "#594593",
         "slider_height": "100",
         "user_logged_in": "",
         "toc_menu": "float",
         "toc_menu_home": "1",
         "toc_menu_top": "1",
         "menu_fixed": "1",
         "menu_mobile": "1024",
         "menu_hover": "fade",
         "menu_cache": "",
         "button_hover": "fade",
         "input_hover": "default",
         "demo_time": "0",
         "media_elements_enabled": "1",
         "ajax_search_enabled": "1",
         "ajax_search_min_length": "3",
         "ajax_search_delay": "200",
         "css_animation": "1",
         "menu_animation_in": "fadeInUp",
         "menu_animation_out": "fadeOutDown",
         "popup_engine": "magnific",
         "email_mask": "^([a-zA-Z0-9_\\-]+\\.)*[a-zA-Z0-9_\\-]+@[a-z0-9_\\-]+(\\.[a-z0-9_\\-]+)*\\.[a-z]{2,6}$",
         "contacts_maxlength": "1000",
         "comments_maxlength": "1000",
         "remember_visitors_settings": "",
         "admin_mode": "",
         "isotope_resize_delta": "0.3",
         "error_message_box": null,
         "viewmore_busy": "",
         "video_resize_inited": "",
         "top_panel_height": "0"
      };
      /* ]]> */
   </script>
   <script type='text/javascript' src='http://whiterabbit.axiomthemes.com/wp-content/themes/whiterabbit/fw/js/core.init.js'></script>
   <script type='text/javascript' src='http://whiterabbit.axiomthemes.com/wp-content/themes/whiterabbit/js/theme.init.js'></script>
   <script type='text/javascript'>
      /* <![CDATA[ */
      var mejsL10n = {
         "language": "en-US",
         "strings": {
            "Close": "Close",
            "Fullscreen": "Fullscreen",
            "Turn off Fullscreen": "Turn off Fullscreen",
            "Go Fullscreen": "Go Fullscreen",
            "Download File": "Download File",
            "Download Video": "Download Video",
            "Play": "Play",
            "Pause": "Pause",
            "Captions\/Subtitles": "Captions\/Subtitles",
            "None": "None",
            "Time Slider": "Time Slider",
            "Skip back %1 seconds": "Skip back %1 seconds",
            "Video Player": "Video Player",
            "Audio Player": "Audio Player",
            "Volume Slider": "Volume Slider",
            "Mute Toggle": "Mute Toggle",
            "Unmute": "Unmute",
            "Mute": "Mute",
            "Use Up\/Down Arrow keys to increase or decrease volume.": "Use Up\/Down Arrow keys to increase or decrease volume.",
            "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.": "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds."
         }
      };
      var _wpmejsSettings = {
         "pluginPath": "\/wp-includes\/js\/mediaelement\/"
      };
      /* ]]> */
   </script>
   <script type='text/javascript' src='http://whiterabbit.axiomthemes.com/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=2.22.0'></script>
   <script type='text/javascript' src='http://whiterabbit.axiomthemes.com/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.8'></script>
   <script type='text/javascript' src='http://whiterabbit.axiomthemes.com/wp-includes/js/wp-embed.min.js?ver=4.8'></script>
   <script type='text/javascript' src='http://whiterabbit.axiomthemes.com/wp-content/themes/whiterabbit/fw/js/core.messages/core.messages.js'></script>
   <script type='text/javascript' src='http://whiterabbit.axiomthemes.com/wp-content/themes/whiterabbit/shortcodes/theme.shortcodes.js'></script>
   <script type='text/javascript' src='http://whiterabbit.axiomthemes.com/wp-content/themes/whiterabbit/fw/js/swiper/swiper.min.js'></script>
</body>

</html>
